body {
  background-color: black;
  color: white;
}

header {
  height: 500px; /* Adjust the height as needed */
  overflow: hidden;
}

#logo-image {
  width: 500px; /* Adjust the width as needed */
  height: auto;
}
